body {
  text-align: center
}

ul.links {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  font-size: 1.8em;
  padding: 4px;
}

ul.links li { display: inline-block; }

ul.links label { display: none; }
